@import url("https://fonts.googleapis.com/css2?family=Hubballi&family=Montserrat:wght@400;500;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Montserrat' , sans-serif;
  background-color: #242020;
}

nav.nav {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 84px;
  width: 100vw;
  background-color: #110f0f;
  -webkit-box-shadow: 0px 4px 24px -5px #110f0f;
          box-shadow: 0px 4px 24px -5px #110f0f;
  z-index: 999;
}

nav.nav .wrapper-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1400px;
  width: 1400px;
  height: 100%;
}

nav.nav .wrapper-nav a.logo {
  font-size: 15px;
  text-decoration: none;
  margin-left: 25px;
  font-family: 'Hubballi', cursive;
  color: white;
  font-weight: bold;
  letter-spacing: 2.5px;
}

nav.nav .wrapper-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px;
}

nav.nav .wrapper-nav ul li {
  list-style: none;
  margin: 15px;
}

nav.nav .wrapper-nav ul li a {
  color: white;
  text-decoration: none;
  padding: 15px;
  -webkit-transition: all .9s;
  transition: all .9s;
  font-size: 15px;
}

nav.nav .wrapper-nav ul li a:hover {
  background-color: white;
  color: black;
}

.music-container {
  display: block;
  margin: auto;
  max-width: 1400px;
  margin-top: 84px;
}

.music-container .topFiveMusicContainer h2 {
  padding: 25px 45px;
  font-size: 30px;
  color: white;
}

.music-container .topFiveMusicContainer .top-wrapper-music {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 15px;
}

.music-container .topFiveMusicContainer .top-wrapper-music .music-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 450px;
  max-width: 250px;
  margin: 10px;
  text-decoration: none;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.music-container .topFiveMusicContainer .top-wrapper-music .music-item img {
  height: 80%;
  width: 100%;
  background-color: rebeccapurple;
  border: none;
  -o-object-fit: cover;
     object-fit: cover;
}

.music-container .topFiveMusicContainer .top-wrapper-music .music-item h1 {
  font-size: 20px;
  margin-top: 5px;
  letter-spacing: 1px;
  color: white;
}

.music-container .topFiveMusicContainer .top-wrapper-music .music-item p {
  font-size: 19px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  text-align: center;
}

.music-container .topFiveMusicContainer .top-wrapper-music .music-item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.music-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.music-section .music-section-wrapper {
  width: 1400px;
  height: 100%;
}

.music-section .music-section-wrapper .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 55px 30px;
}

.music-section .music-section-wrapper .input-container input {
  padding: 15px 30px;
  width: 250px;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 25px;
  color: white;
  margin-top: 25px;
}

.music-section .music-section-wrapper .input-container .error {
  font-size: 16px;
  color: red;
  margin-top: 15px;
}

.music-section .music-section-wrapper .specials-music-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.music-section .music-section-wrapper .specials-music-container .music-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 450px;
  max-width: 250px;
  margin: 20px 85px;
  text-decoration: none;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.music-section .music-section-wrapper .specials-music-container .music-item img {
  height: 80%;
  width: 100%;
  background-color: rebeccapurple;
  border: none;
  -o-object-fit: cover;
     object-fit: cover;
}

.music-section .music-section-wrapper .specials-music-container .music-item h1 {
  font-size: 20px;
  margin-top: 5px;
  letter-spacing: 1px;
  color: white;
}

.music-section .music-section-wrapper .specials-music-container .music-item p {
  font-size: 19px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  text-align: center;
}

.music-section .music-section-wrapper .specials-music-container .music-item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.music-section .music-section-wrapper .specials-music-container p {
  color: white;
}

.all-songs-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 55px;
}

.all-songs-section p {
  font-size: 34px;
  color: white;
  margin-bottom: 45px;
  font-weight: bold;
}

.all-songs-section .wrapper-all-songs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1400px;
}

.all-songs-section .wrapper-all-songs .music-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 450px;
  max-width: 250px;
  margin: 20px 85px;
  text-decoration: none;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.all-songs-section .wrapper-all-songs .music-item img {
  height: 80%;
  width: 100%;
  background-color: rebeccapurple;
  border: none;
  -o-object-fit: cover;
     object-fit: cover;
}

.all-songs-section .wrapper-all-songs .music-item h1 {
  font-size: 20px;
  margin-top: 5px;
  letter-spacing: 1px;
  color: white;
}

.all-songs-section .wrapper-all-songs .music-item p {
  font-size: 19px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  text-align: center;
}

@media (min-width: 1000px) {
  nav.nav .wrapper-nav a.logo {
    font-size: 38px;
  }
  nav.nav .wrapper-nav ul li {
    list-style: none;
    margin: 15px;
  }
  nav.nav .wrapper-nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px;
    -webkit-transition: all .9s;
    transition: all .9s;
    font-size: 25px;
  }
  nav.nav .wrapper-nav ul li a:hover {
    background-color: white;
    color: black;
  }
}
/*# sourceMappingURL=style.css.map */